pkgbase = rainlendar-pro
	pkgdesc = A desktop Calendar, ToDo list and Event list
	pkgver = 2.18.0
	pkgrel = 1
	url = http://www.rainlendar.net/
	arch = x86_64
	license = custom
	depends = cairo
	depends = libsm
	depends = expat>=1.95.8
	depends = gtk2>=2.12.0
	depends = openssl
	depends = libcanberra
	provides = rainlendar2
	conflicts = rainlendar-beta
	conflicts = rainlendar-beta-unstable
	conflicts = rainlendar-lite
	source = http://www.rainlendar.net/download/Rainlendar-Pro-2.16.1-amd64.tar.bz2
	sha256sums = af300f0a772dc0c38b9a5b3f73c3b04e679159eec69bc6baf3d345349f1b6e12

pkgname = rainlendar-pro

